@import 'open-color/open-color.less';

.wrapper {
  padding: 15px;
}

.section {
  & + & {
    margin-top: 30px;
  }
}

.title {
  color: @oc-gray-9;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  line-height: 1;
}
