.settings {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}

.field {
  flex: 1;

  & + & {
    margin-left: 15px;
  }
}

.label {
  font-size: 14px;
  margin-bottom: 7px;
  color: @oc-gray-6;
}
